body{
	box-shadow: 0 0px 0 3px #e0e0e0 inset;
}
.top-titlebar{
	background-color: #333333;
	-webkit-user-select: none;
	-webkit-app-region: drag;
	color: #fff;
	height: 4rem;
	line-height: 4rem;
	width: 100vw;
	i{
		font-size: 4rem;
	}
	.close-button, .minimize-button{
		-webkit-app-region: no-drag;
		cursor: pointer;
    /*
    position: absolute;
    right: 0;
    */
    float: right;
    text-align: center;
    width: 4rem;
		&:hover{
			background-color: #ee3344;
		}
	}
	.logo-icon{
		position: absolute;
		left: 1rem;
	}
	.title{
		position: absolute;
		left: 5rem;
	}
}
#page-holder{
	position: absolute;
	top: 4rem;
	left: 0; right: 0; bottom: 0;
	overflow-y: auto; 
	overflow-x: hidden; 
}